.tf-base {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  h2 {
    font-size: 1.3em;
    line-height: 1.2em;
  }
}

// Elements on the preview page
.tf-config-preview {
  padding: 0.7em;

  .tf-preview-item {
    margin: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fafafa;
  }

  .tf-preview-item-header {
    display: flex;
    padding: 0.5em 0;
    border-radius: 5px 5px 0 0;
    background: #eee;

    h3 {
      flex: 1;
      margin: 0;
      padding: 0 0.5em;
      font-size: 1.1em;
      line-height: 0 1.5em;
    }

    span {
      flex-basis: 2.5em;
      flex-grow: 0;
      flex-shrink: 0;
      text-align: center;

      a {
        cursor: pointer;
      }

      svg {
        height: 1em;
      }
    }
  }

  .tf-preview-item-content {
    padding: 0.5em 1em;
  }

  .tf-preview-plus {
    margin: 0.5em;
    padding: 1em 0;
    border: 1px solid #eee;
    border-radius: 5px;
    background: #fafafa;
    text-align: center;

    svg {
      height: 2.5em;
    }
  }
}

// Elements on the picker component
.tf-config-picker {
  padding: 0.7em;
}

.tf-fe-picker {
  display: flex;
  margin: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;

  div {
    padding: 0.5em 0;
  }

  .tf-icon {
    display: flex;
    flex-basis: 3.5em;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    svg {
      height: 1.5em;
    }
  }

  .tf-text {
    flex: 5;
    line-height: 1.6em;
  }

  .tf-handle {
    display: flex;
    flex-basis: 2.5em;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    background: #ccc;
    text-align: right;

    svg {
      height: 1em;
    }
  }
}

// Utility classes

.tf-draggable {
  cursor: grab;
}
